@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("img/bck.jpg");
  
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 80vh;

    position: relative;
    /* overflow: hidden; */ 
    
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: .7;
    position: absolute;
    top: 0;
    background-color: black; 
   
}
nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


nav img{
    width: 130px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{ 
     font-family: "Martel Sans", sans-serif;
padding: 0 30px;
text-align: center;
    color: white;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    gap: 20px;

}
.hero> :first-child{
    font-family: "poppins";
    font-weight : bolder;
    font-size: 48px;
    
text-align: center;
}
.hero>  :nth-child(2){
    font-weight: 700;
    font-size: 24px;
    text-align: center;

    
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;

    
}

.separation{
     height: 7px;
     background-color: rgb(90, 81, 81);
}
.btn{
    padding: 8px;
    font-weight: bold;
    background-color: white;
}
.btn-red{
   background-color: red; 
   color: white;
   padding: 3px;
   font-size: 20px;
   border-radius: 4px;
}
.btn-red-sm{
    background-color: red;
    color: white;
    cursor: pointer;
}
.main input{
    color: white;
   padding:  7px 101px 8px 14px;
   font-weight: 900;
   font-size: 12px;
   border-radius: 4px;
   background-color:rgba(23, 23,23, 0.7);
   border: 1px solid rgba(246,238,238,0.5);
}
.btn-eng{
    background-color:rgba(23, 23,23, 0.2);
    color: white;
    border-radius: 4px;
    border: 1px solid white;cursor: pointer;
}
.but{
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:70vw ;
    margin: auto;
    color: white;
}
@media screen and (max-width:800px) {
   .first{
    flex-wrap: wrap;
   }
   .hero> :first-child{
    
    font-size: 30px;
    

}
.hero> :nth-child(2){
    
    font-size: 18px;
    

}
.hero> :nth-child(3){
    
    font-size: 18px;
    

}
.main input{
    padding: 7px 53px 8px 14px;
}
   
}
.secimg{
    position: relative;
}
.secimg img{
    width:555px ;
    position: relative;
    z-index: 10;

}
.secimg video{
    position: absolute;
    top: 51px;
    right: 0;
    width:555px;
}
section.first > div{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    p */
    padding: 34px 0;
    /* align-items: center; */
}
.first > div :first-child{
    font-size: 40px;
    font-weight: bolder;
}
.first > div :nth-child(2){
    font-size: 30px;
    font-weight: bolder;

}


.second{
    display: flex;
    justify-content: center;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.fbox:hover{
    background-color: grey;
}
.fbox{
    transition: all 1s ease-out;
    display: flex;
    background-color:rgb(86, 74, 74);
    justify-content: space-between;
 color: white;
 padding: 24px;
 font-size: 24px;
 max-width: 60vw;
 margin:  34px auto;
 cursor: pointer ;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
}
footer span{
    text-align: center;
   
}

.footer{
    padding: 34px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
gap:29px;}
  
    @media screen and (max-width:800px) {
        .footer{
            display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;

        }
        
    }
.item{
display: flex;
flex-direction: column ;

/* padding: 0 8px; */
}
.footer a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    gap: 31px
    ;
}